.header {
  display: inline-block; }
  .header .header__logo-link {
    display: inline-block; }
  .header .header__logo {
    display: inline-block;
    width: 95px;
    height: 73px;
    background-image: url(../img/logo/logo.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 180px; }

.menu {
  display: inline-block; }
  .menu .menu__list {
    display: inline-block;
    list-style: none; }
    .menu .menu__list .menu__item {
      display: inline-block;
      margin-right: 10px; }
      .menu .menu__list .menu__item:after {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        vertical-align: middle;
        margin-left: 14px; }
      .menu .menu__list .menu__item:last-child:after {
        display: none; }
      .menu .menu__list .menu__item .menu__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase; }

.button {
  display: inline-block; }
  .button .button__link {
    display: inline-block;
    border-radius: 5px;
    background-color: #e45028;
    width: 97px;
    height: 35px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 13px; }
    .button .button__link:hover {
      background-color: #c1401e; }
