.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 1em;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  .header .header__logo {
    display: inline-block;
    width: 95px;
    height: 73px;
    background-image: url(../img/logo/logo.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 180px; }

.menu__list {
  list-style: none; }
  .menu__list .menu__item {
    display: inline-block;
    margin-right: 10px; }
    .menu__list .menu__item:after {
      content: "";
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: white;
      text-align: center;
      vertical-align: middle;
      margin-left: 14px; }
    .menu__list .menu__item:last-child:after {
      display: none; }
    .menu__list .menu__item .menu__link {
      text-decoration: none;
      font-weight: 500;
      font-size: 13px;
      color: #ffffff;
      text-transform: uppercase; }

.button__link {
  display: inline-block;
  border-radius: 5px;
  background-color: #e45028;
  width: 97px;
  height: 35px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 13px; }
  .button__link:hover {
    background-color: #c1401e; }
