@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body,
html {
  height: 100%; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  line-height: 1.42; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  margin: 0;
  padding: 0; }

footer {
  position: relative;
  width: 100%; }

.wrapper {
  width: 100%;
  min-height: 100%;
  min-width: 960px;
  position: relative;
  overflow: hidden; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section__title {
  font-family: 'gagalin', Helvetica, sans-serif;
  font-size: 72px; }

.section__header {
  font-family: 'lifehack'; }

.section__wrapper {
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.text__title {
  font-size: 14px;
  font-family: 'gagalin', Helvetica, sans-serif; }

.section__text {
  font-size: 14px;
  font-family: 'Ubuntu';
  font-weight: 300;
  color: #ffffff; }

.button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #e45028;
  width: 97px;
  height: 35px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 13px; }
  .button:hover {
    background-color: #c1401e; }

.navigation__list {
  list-style: none;
  padding-right: 50px;
  position: fixed;
  top: 12%;
  right: 5%; }

.navigation__list-link {
  position: relative;
  width: 20px;
  height: 20px; }
  .navigation__list-link:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: white; }
  .navigation__list-link:after {
    content: "";
    display: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    left: -6px; }
  .navigation__list-link:hover:after {
    display: block; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 1em; }
  .header .header__logo {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 95px;
    height: 73px;
    background-image: url(../img/logo/logo.svg);
    background-repeat: no-repeat; }

.nav-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav-menu__list .nav-menu__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav-menu__list .nav-menu__item:after {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: white;
      margin: 0 16px; }
    .nav-menu__list .nav-menu__item:last-child:after {
      display: none; }
    .nav-menu__list .nav-menu__item:last-child {
      margin-right: 13px; }
    .nav-menu__list .nav-menu__item .nav-menu__link {
      text-decoration: none;
      font-weight: 500;
      font-size: 13px;
      color: #ffffff;
      text-transform: uppercase; }

.header__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }

.greeting {
  background-image: url(../img/bg/greeting.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }

.greeting__wrapper {
  height: 75%; }

.greeting__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.greeting__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.greeting__content-picture {
  background-image: url(../img/bg/drops.png);
  background-repeat: no-repeat;
  width: 456px;
  height: 418px;
  max-width: 100%; }

.greeting__content-text {
  width: 50%;
  margin-top: 55px;
  margin-left: 9px; }

.section__title_orange {
  color: #f9b43b;
  margin-bottom: 9px; }

.section__title_white {
  font-size: 65px;
  color: #ffffff;
  line-height: 1; }

.arrow {
  background-repeat: no-repeat;
  width: 45px;
  height: 25px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 95%; }

.arrow-icon {
  fill: white;
  left: 50%;
  top: 95%;
  width: 33px;
  height: 29px; }

.about {
  background-image: url(../img/bg/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.about__wrapper {
  height: 75%; }

.section__title_color_black {
  font-weight: 500;
  text-align: center;
  color: #2f3234;
  margin-top: 0;
  padding-top: 57px;
  margin-bottom: 90px; }

.about__description-item {
  width: 300px;
  text-align: center;
  vertical-align: text-top;
  margin: 0 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.about__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.about__description-list {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.about__description-pic {
  width: 200px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto; }

.about__description-title {
  font-family: 'lifehack';
  font-size: 24px;
  color: #2f3234;
  margin-top: 15px;
  margin-bottom: 15px; }

.about__description-text {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 14px;
  color: #848281; }

.meat-icon {
  width: 104px;
  height: 94px;
  fill: #e25028; }

.hand-icon {
  fill: #f8b43a;
  width: 88px;
  height: 86px; }

.natural-icon {
  fill: #8ac03e;
  width: 92px;
  height: 77px; }

.feedback {
  background-color: black; }

.feedback__container {
  height: 100%;
  min-height: 650px; }

.feedback__list {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.feedback__item {
  width: 25%;
  height: 50%;
  position: relative; }
  .feedback__item:hover .feedback__text {
    opacity: 1; }

.feedback__photo {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.feedback__text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #ffffff;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.feedback__text-wrapper {
  width: 80%;
  line-height: 1.6; }

.feedback__name {
  margin-bottom: 21px; }

.feedback__comment {
  margin-bottom: 3em; }

.feedback__link {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Ubuntu';
  font-weight: 500;
  background-color: #2f3234;
  border-radius: 5px;
  width: 110px;
  height: 35px;
  padding: 6px 13px;
  text-align: center;
  vertical-align: middle; }
  .feedback__link:hover {
    background-color: #1f2122; }

.feedback__item:hover .feedback__text {
  opacity: 1; }

.team {
  background-image: url(../img/bg/team.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }

.team__block {
  color: #ffffff;
  background-color: rgba(58, 61, 63, 0.93);
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  min-height: 650px; }

.team__block-container {
  width: 70%; }

.team__block-title {
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2em; }
  .team__block-title:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #f9b43b;
    margin-right: 10px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.team__block-item {
  margin-bottom: 10px; }
  .team__block-item.active .team__description {
    height: auto; }
  .team__block-item.active .team__block-title {
    color: #f9b43b; }
    .team__block-item.active .team__block-title:before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.team__description-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.5em;
  position: relative; }

.team__description-pic {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.team__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.team__block-header {
  color: #f9b43b;
  padding-top: .9em;
  padding-bottom: .8em;
  padding-left: 1.1em; }

.team__description-job {
  font-weight: bold;
  margin-bottom: 1.2em; }

.team__description-text {
  width: 15em; }

.team__block-list {
  padding-left: 5.7em; }

.team__description {
  height: 0;
  overflow: hidden; }

.menu {
  background-image: url(../img/bg/menu.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.menu__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }

.menu__list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  overflow: hidden; }

.menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }
  .menu__item.active .menu__item-description {
    width: auto; }

.menu-title {
  color: #fff; }

.menu__item-text {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-align: left;
  white-space: nowrap;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0; }

.menu__item-header_meat {
  background-image: url(../img/bg/meateater.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.menu__item-header_vegan {
  background-image: url(../img/bg/vegan.jpg);
  background-position: 90% 50%; }

.menu__item-header_diet {
  background-image: url(../img/bg/diet.jpg);
  background-position: 100% 50%; }

.menu__item-description {
  background-color: rgba(56, 58, 62, 0.93);
  padding-top: 64px;
  padding-left: 30px;
  text-align: center;
  overflow: hidden;
  width: 0; }

.menu__item-header {
  color: #fff;
  font-size: 40px;
  height: 100%;
  width: 30%;
  -webkit-box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.7) inset;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0; }

.contacts {
  background-image: url(../img/bg/map.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.footer {
  background-color: #111111;
  position: absolute;
  bottom: 0; }

.footer_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto; }

.footer__info {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #fff;
  width: 50%;
  text-align: left;
  padding: 13px; }

.footer__address {
  margin-bottom: 5px; }

.footer__phone {
  color: #e45028;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.phone-icon {
  fill: #e45028;
  width: 15px;
  height: 15px;
  margin-right: 10px; }

.footer__socials {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.social-icon {
  fill: #fff;
  width: 30px;
  height: 30px;
  opacity: .3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-right: 20px; }
  .social-icon:hover {
    opacity: 1; }

.order {
  background-image: url(../img/bg/form.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }

.order__title {
  color: #f9b43b;
  margin-bottom: 77px;
  padding-top: 65px;
  text-align: center; }

.order__wrapper {
  height: 75%; }

.order__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__column-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.form__column-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.form__label {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }

.form__label-title {
  color: #fff;
  margin-bottom: 10px; }

.form__input {
  font-size: 14px;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #d1cfcb;
  margin-right: 20px;
  width: 100%; }

.form__textarea {
  height: 110px;
  width: 95%;
  border: 1px solid #d1cfcb;
  border-radius: 5px;
  padding: 7px 9px;
  resize: none;
  font-size: 14px; }

.form__btn {
  border: 0; }

.form__btn_inactive {
  background-color: transparent; }

.form__radio {
  display: none; }

.form__control-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  color: #fff; }

.form__label-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.form__radio:checked + .form__radio-fake:after {
  display: block; }

.form__radio-fake {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: relative; }
  .form__radio-fake:after {
    content: "";
    display: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #e35028;
    position: absolute;
    top: 4px;
    left: 4px; }

.form__check {
  display: none; }

.form__checkbox-fake {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: relative; }
  .form__checkbox-fake:after {
    content: "";
    display: none;
    background-image: url(../img/logo/check.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 2px; }

.form__check:checked + .form__checkbox-fake:after {
  display: block; }

.form__row_btn {
  margin-bottom: 20px;
  width: 75%; }

.form__row_textarea {
  margin-bottom: 11px;
  height: 143px; }
