@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body,
html {
  height: 100%; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  line-height: 1.42; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.section {
  height: 100vh;
  min-height: 650px; }

.section__title {
  font-family: 'gagalin';
  font-size: 72px; }

.section__header {
  font-family: 'lifehack'; }

.section__wrapper {
  margin: 0 auto;
  width: 950px; }

.navigation__list {
  list-style: none;
  padding-right: 50px;
  position: fixed;
  top: 12%;
  right: 5%; }

.navigation__list-link {
  position: relative;
  width: 20px;
  height: 20px; }
  .navigation__list-link:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: white; }
  .navigation__list-link:after {
    content: "";
    display: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    left: -6px; }
  .navigation__list-link:hover:after {
    display: block; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 1em;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  .header .header__logo {
    display: inline-block;
    width: 95px;
    height: 73px;
    background-image: url(../img/logo/logo.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 180px; }

.menu__list {
  list-style: none; }
  .menu__list .menu__item {
    display: inline-block;
    margin-right: 10px; }
    .menu__list .menu__item:after {
      content: "";
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: white;
      text-align: center;
      vertical-align: middle;
      margin-left: 14px; }
    .menu__list .menu__item:last-child:after {
      display: none; }
    .menu__list .menu__item .menu__link {
      text-decoration: none;
      font-weight: 500;
      font-size: 13px;
      color: #ffffff;
      text-transform: uppercase; }

.button__link {
  display: inline-block;
  border-radius: 5px;
  background-color: #e45028;
  width: 97px;
  height: 35px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 13px; }
  .button__link:hover {
    background-color: #c1401e; }

.greeting {
  background-image: url(../img/bg/greeting.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.greeting__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.greeting__content-picture {
  background-image: url(../img/bg/drops.png);
  background-repeat: no-repeat;
  width: 456px;
  height: 418px; }

.greeting__content-text {
  width: 50%;
  margin-top: 55px;
  margin-left: 9px; }

.section__title_orange {
  color: #f9b43b;
  margin-bottom: 3px; }

.section__title_white {
  font-size: 65px;
  color: #ffffff;
  line-height: 1; }

.arrow {
  background-repeat: no-repeat;
  width: 45px;
  height: 25px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 95%; }

.arrow-icon {
  fill: white;
  left: 50%;
  top: 95%;
  width: 33px;
  height: 29px; }

.about {
  background-image: url(../img/bg/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.section__title_black {
  font-weight: 500;
  text-align: center;
  color: #2f3234;
  margin-top: 0;
  padding-top: 57px;
  margin-bottom: 90px; }

.about__description-item {
  width: 300px;
  text-align: center;
  vertical-align: text-top; }

.about__description-list {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.about__description-pic {
  width: 200px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto; }

.about__description-title {
  font-family: 'lifehack';
  font-size: 24px;
  color: #2f3234;
  margin-top: 15px;
  margin-bottom: 15px; }

.about__description-text {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 14px;
  color: #848281; }

.meat-icon {
  width: 104px;
  height: 94px;
  fill: #e25028; }

.hand-icon {
  fill: #f8b43a;
  width: 88px;
  height: 86px; }

.natural-icon {
  fill: #8ac03e;
  width: 92px;
  height: 77px; }

.feedback__container {
  height: 100%;
  min-height: 650px; }

.feedback__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.feedback__item {
  width: 25%;
  height: 50%;
  position: relative; }
  .feedback__item:hover .feedback__text {
    opacity: 1; }

.feedback__photo {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 1; }

.feedback__text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0%;
  left: 0%;
  color: #ffffff;
  opacity: 0; }

.feedback__text-wrapper {
  width: 230px;
  height: 100%;
  margin-left: 26px;
  line-height: 1.6; }

.feedback__name {
  font-size: 14px;
  font-family: 'gagalin';
  margin-bottom: 21px;
  padding-top: 42px; }

.feedback__comment {
  font-size: 14px;
  font-family: 'Ubuntu';
  font-weight: 300;
  margin-bottom: 3em; }

.feedback__link {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Ubuntu';
  font-weight: 500;
  background-color: #2f3234;
  border-radius: 5px;
  width: 110px;
  height: 35px;
  padding: 6px 13px;
  text-align: center;
  vertical-align: middle; }
  .feedback__link:hover {
    background-color: #1f2122; }

.feedback__item:hover .feedback__text {
  opacity: 1; }

.feedback__photo-one {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 36% 48%; }

.feedback__photo-two {
  background-position: 56% 27%;
  background-repeat: no-repeat;
  background-size: cover; }

.feedback__photo-three {
  background-position: 55% 18%;
  background-repeat: no-repeat;
  background-size: cover; }

.feedback__photo-four {
  background-position: 98% 36%;
  background-repeat: no-repeat;
  background-size: cover; }

.feedback__photo-five {
  background-position: 3% 1%;
  background-repeat: no-repeat;
  background-size: cover; }

.feedback__photo-six {
  background-position: 71% 0%;
  background-repeat: no-repeat;
  background-size: cover; }

.feedback__photo-seven {
  background-position: 36% 48%;
  background-repeat: no-repeat;
  background-size: cover; }

.feedback__photo-eight {
  background-position: 100% 32%;
  background-repeat: no-repeat;
  background-size: cover; }
