.sidebar {
  width: 10%;
  float: right; }

.navigation__list {
  list-style: none;
  padding-right: rem(50px);
  position: fixed;
  top: 12%;
  right: 5%; }

.navigation__list-link {
  position: relative; }

.navigation__list-item {
  margin-bottom: rem(4px); }

.navigation__list-link:after {
  content: "";
  display: none;
  background-color: transparent;
  border: rem(1px) solid white;
  border-radius: 50%;
  width: rem(16px);
  height: rem(16px);
  position: absolute;
  top: rem(3px);
  left: -rem(6px); }

.navigation__list-link:hover:after {
  display: block; }
