
.navigation__list {
    list-style: none;
    padding-right: rem(50px);
    position: fixed;
    top: 12%;
    right: 5%;

    @include tablet {
        display: none;
    }
}

.navigation__list-link {
    position: relative;
    width: rem(20px);
    height: rem(20px);

    &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background-color:white;
    }

    &:after {
    content: "";
    display: none;
    background-color: transparent;
    border: rem(1px) solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    // top: rem(3px);
    // left: rem(6px);
    top: 13%;
    left: -103%;
    transition: .3s;
}

&:hover:after {
    display: block;
}
}


