.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1em;
    
    
   
    .header__logo {
    display: inline-flex;
    width: 95px;
    height: 73px;
    background-image: url(../img/logo/logo.svg);
    background-repeat: no-repeat;
    
    
}


}


    .nav-menu__list {
    display: flex;
    align-items: center;

    .nav-menu__item {
    display: flex;
    align-items: center;
    

    &:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    margin:0 16px;
}

&:last-child:after {
    display: none;
    
}

&:last-child {
    margin-right: 13px;
}

.nav-menu__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
}

}

}



.header__btns {
    display: flex;
    align-items: center;
    margin-left: auto;
}

