.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1em;
    
    
   
    .header__logo {
    display: inline-flex;
    width: rem(95px);
    height: rem(73px);
    background-image: url(../img/logo/logo.svg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    
    
}


}


    .nav-menu__list {
    display: flex;
    align-items: center;

     @include tablet {
        display: none;
    }

    .nav-menu__item {
    display: flex;
    align-items: center;
    

    &:after {
    content: "";
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background-color: white;
    margin:0 rem(16px);
}

&:last-child:after {
    display: none;
    
}

&:last-child {
    margin-right: rem(13px);
}

.nav-menu__link {
    text-decoration: none;
    font-weight: 500;
    font-size: rem(13px);
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: rem(1px) solid transparent;
    transition: .3s;

    &:hover {
        border-bottom: rem(1px) solid #fff;
    }
}

}

}



.header__btns {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.ham-button {
    height: rem(30px);
    width: rem(30px);
    background: transparent;
    border: rem(0px);
    margin-left: rem(26px);
    display: none;


    .ham-button__layer{
        width: rem(23px);
        height: rem(4px);
        display: block;
        background:#fff;
        border-radius: rem(2px);
        margin:rem(5px) 0; 
       
  
    }

    @include tablet {
        display: block;
        margin-right: rem(26px);
    }
}