//variables
$orange: #e45028;
$yellow:#f9b43b;
$black:#2f3234;
$grey:#3a3d3f;
$red:#e25028;

//layout

@import "layout/fonts.scss";
@import "layout/base.scss";

//common
@import "common/btn.scss";

//blocks

@import "fixedmenu.scss";
@import "header.scss";


//sections
@import "sections/greeting.scss";
@import "sections/about.scss";
@import "sections/feedback.scss";
@import "sections/team.scss";
@import "sections/menu.scss";
@import "sections/contacts.scss";
@import "sections/order.scss";







