.about {
    background-image: url(../img/bg/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    

     @include tablet {
       justify-content: center;
       
    }
}

.about__wrapper{
    height: 75%;

       @include tablet {
       height: 80%;
    }

      @include phone {
       height: auto;
       align-items: center;
    }

}
.section__title_color_black {
    font-weight: 500;
    text-align: center;
    color: #2f3234;
    margin-top: 0;
    padding-top: rem(57px);
    margin-bottom: rem(90px);

      @include tablet {
       margin-bottom: 0;
       
    }

       @include phone {
       font-size: rem(50px);
       padding-top: rem(0px);
       margin-bottom: rem(0px);
    }

}

.about__description-item {
    // width: rem(300px);
    text-align: center;
    vertical-align: text-top;
    margin:0 rem(15px);
    flex:1;

    @include tablet {
        margin:0;
    }
     @include phone {
         display: flex;
         flex-direction: row;
         margin-bottom: rem(0px);
    }
}

.about__description-info{
     @include phone {
         text-align: left;
        line-height: 1.5;
        color: #2f3234;
    }
}
.about__container {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__description-list {
    // width: rem(1000px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

     @include phone {
       flex-direction: column;
    }
}

.about__description-pic {
    width: rem(150px);
    height: rem(120px);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

     @include phone {
        
         margin-right: rem(10px);
    }
}

.about__description-title {
    font-family: 'lifehack';
    font-size: rem(24px);
    color: #2f3234;
    margin-top: rem(15px);
    margin-bottom: rem(15px);

      @include phone {
         margin: rem(0px);
    }


}

.about__description-text {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: rem(14px);
    color: #848281;
}

.meat-icon {
    width: rem(104px);
    height: rem(94px);
    fill: #e25028;
}

.hand-icon {
    fill: #f8b43a;
    width: rem(88px);
    height: rem(86px);
}

.natural-icon {
    fill: #8ac03e;
    width: rem(92px);
    height: rem(77px);
}