.feedback {
    background-color: black;
}
.feedback__container {
    height: 100%;
    min-height: rem(650px);
}

.feedback__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.feedback__item {
    width: 25%;
    height: 50%;
    position: relative;
   
    @include tablet{
       width: 50%;
       height: 25%; 
    }
   

    &:hover .feedback__text {
        opacity: 1;
    }
}

.feedback__photo {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    opacity: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feedback__text {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    color: #ffffff;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;

    @include tablet {
        text-align: center;
        font-size: rem(14px);
        line-height: 1.2;
    }

}

.feedback__text-wrapper {
    width: 80%;
    
}

.feedback__name {

    margin-bottom: rem(17px);

     @include tablet {
        padding-top: rem(20px);
        margin-bottom: rem(10px);
    }
      @include phone {
         font-size:rem(24px);
         
    }
}

.feedback__comment {
    
    margin-bottom:rem(12px);

 @include tablet {
         line-height: 1.7;  
         text-align: center;
    }

     @include phone {
         display:none;    
    }
}

.feedback__link {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-size: rem(13px);
    font-family: 'Ubuntu';
    font-weight: 500;
    background-color: #2f3234;
    border-radius: rem(5px);
    padding: rem(10px) rem(15px);
    text-align: center;
    vertical-align: middle;
    &:hover {
        background-color: #1f2122;
    }

    @include phone {
         font-size:rem(13px);
         margin-top:rem(20px);
    }
}

.feedback__item:hover .feedback__text {
    opacity: 1;
}

.feedback__link-more {

    @include phone {
        display: none;
   }

}
.feedback__btn-text {

     @include phone {
     display: none;
 }
}


.feedback__btn-mob {
    display: none;

 @include phone {
     display:inline-block;
 }

}


.feedback__popup {
    // display: none;
    background-color: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    padding: 30px;
    
      
    @include phone {
        width: 90%;
        // display:block;
    }
}

.feedback__popup-wrapper {
    color: #2f3234;
}

.feedback__popup-name {
    font-size: 14px;
    margin-bottom: 20px;
}
.feedback__popup__close {
    text-decoration: none;
    outline: none;
    position: absolute;
    right: 1%;
    top: 3%;

    @include phone {
        right: 5%;
        top: 5%; 

    }
}

.feedback__link-popup {
    outline: none;
    text-align: center;
    display: none;  

    @include phone {
        display: inline-block;
   }


}
.fancybox-close-small {
    display: none;
}