.greeting {
    background-image: url(../img/bg/greeting.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

}

.greeting__wrapper {
    height: 75%;

       @include phone {
            height: auto;
        }
}

.greeting__container {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.greeting__content {

    display: flex;
    align-items: center;
    justify-content: center;

       @include tablet {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 20%;
         
    }

        @include phone {
            padding: 0;
        }
}


.greeting__image-pic {
    max-width: 100%;
}

.greeting__content-text {

    width: 50%;
    margin-top: rem(55px);
    margin-left: rem(9px);

    @include tablet {
        // text-align: center;
        width:auto;
    }

    @include phone {
            margin-top: rem(0px);
            margin-left: rem(0px);
        }
}



.section__title_orange {
    color: #f9b43b;
    margin-bottom: rem(9px);

      @include phone {
            font-size: rem(63px);
            white-space: nowrap;
        }
}

.section__title_white {
    font-size: rem(65px);
    color: #ffffff;
    line-height: 1;

     @include phone {
            font-size: rem(54px);
        }

}

.arrow {
    // background-image: url(../img/icons/arrow-scroll.png);
    background-repeat: no-repeat;
    width: rem(45px);
    height: rem(25px);
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 95%;
}

.arrow-icon {
    fill: white;
     left: 50%;
    top: 95%;
    width: rem(33px);
    height: rem(29px);
    
}