.menu {
    background-image: url(../img/bg/menu.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.menu__wrapper {
     display: flex;
     justify-content: space-between;
    height: 100%;
    
}

.menu__list-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.menu__list {
     display: flex;
    min-height: 100vh;
    max-height: 100vh;
    justify-content: flex-end;
     overflow: hidden;

}

.menu__item {
    
  display: flex;
  cursor: pointer;

   &.active {
      .menu__item-description {
          width:540px;
             padding-top: 64px;
            padding-left: 30px;   
      }
   }
  
    
}

.menu-title {
    color: #fff;
    margin-left: 98px;
    margin-top: 84px;
}



.menu__item-text {

   transform: rotate(-90deg) translateX(-50%) translateY(-50%); 
   text-align: center;
   white-space: nowrap;
   position: absolute;
   position: absolute;
   top: 50%; 
    left: 50%;
    transform-origin: 0 0;
    margin-top: -1.25rem;
    // letter-spacing: 6px;
//     display: flex;
//   align-items: stretch;
}

.menu__item-header_meat {
    background-image: url(../img/bg/meateater.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.menu__item-header_vegan {
    background-image: url(../img/bg/vegan.jpg);
    background-position: 90% 50%;
}

.menu__item-header_diet {
    background-image: url(../img/bg/diet.jpg);
    background-position: 100% 50%;
}

.menu__item-description {
    background-color: rgba(56,58,62,.93);
    text-align:left;
    line-height:2;
    overflow: hidden;
    width:0;
}

.menu__item-header {
    color: #fff;
    font-size: 40px;
    height: 100%;
    width:81px;
    box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.7) inset;
    background-repeat: no-repeat;
    // background-position: center center;
    background-size: cover;
    position: relative;
    // flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    
    
   
}