.order {
    background-image: url(../img/bg/form.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.order__title {
    color: $yellow;
    margin-bottom: 77px;
    padding-top: 65px;
    text-align: center;
}

.order__wrapper{
    height: 75%;
}
.order__container {
     flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
}

form {
    // width: 100%;
    // display:flex;
}

.form__column-left {
    display: flex;
    flex: 1;
    width: 40%;
    flex-direction: column;
}

.form__column-right {
    display: flex;
    flex: 1;
    width: 40%;
    flex-direction: column; 
}

.form__row {
    display: flex;
    margin-bottom: 13px;
}


.form__label {
    flex: 1;
    margin-right: 17px;
}

.form__label-title {
    color: #fff;
    margin-bottom: 5px;
}

.form__input {
    font-size: 14px;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid rgb(209, 207, 203); 
    margin-right: 20px;
    width: 100%;
}

.form__textarea {
    width: 95%;
    height: 111px;
    border: 1px solid rgb(209, 207, 203);
    border-radius: 5px;
    padding: 7px 9px;
    resize: none;
    font-size: 14px;
    
    

}

.form__btn {
    border: 0; 
}

.form__btn_inactive {
    background-color: transparent;
}

.form__radio {
    display: none;
}

.form__control-title {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #fff;
}

.form__label-control {
    display: flex;
    align-items: center;
}

.form__radio:checked+.form__radio-fake:after{
    display: block;
}


.form__radio-fake {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    &:after {
        content: "";
        display: none;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #e35028;
        position: absolute;
        top: 4px;
        left: 4px;
    }
}


.form__check {
    display: none;
}

.form__checkbox-fake {
    display: flex;
    width: 15px;
    height: 15px;
    background-color: #fff;
    position: relative;

    &:after {
       content: "";
       display: none;
       background-image: url(../img/logo/check.png); 
       background-repeat: no-repeat;
       width: 15px;
       height: 15px;
       position: absolute;
       top:3px;
       left:2px;    
    }
}


.form__check:checked+.form__checkbox-fake:after{
    display: block;
}

.form__row_btn {
    margin-bottom: 17px;
    width: 81%;
}

