body,
html {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    line-height: 1.42;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;

    li {
         list-style: none;
    }
}

p {
    margin: 0;
    padding:0;
}

footer {
    position:relative;
    width: 100%;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    min-width: 940px+20px;
    position:relative;
    overflow: hidden;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;


}

.section__title {
    @include gagalin();
    font-size: 72px;
}

.section__header {
    @include lifehack();
}

.section__wrapper {
    margin: 0 auto;
    width: 80%;
    // position: relative;
    display: flex;
    flex-direction: column;
}

.text__title {
    font-size: 14px;
    @include gagalin();
}

.section__text {
    font-size: 14px;
    font-family: 'Ubuntu';
    font-weight: 300;
    color: #ffffff;
}