.greeting__content {
  vertical-align: middle; }

.greeting__content-picture {
  background-image: url(../img/bg/drops.png);
  background-repeat: no-repeat;
  width: rem(456px);
  height: rem(418px);
  display: inline-block;
  vertical-align: middle;
  margin-left: rem(20px); }

.greeting__content-text {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin-top: rem(55px);
  margin-left: rem(9px); }

.section__title_orange {
  color: #f9b43b;
  margin-bottom: rem(3px); }

.section__title_white {
  font-family: 'lifehack';
  font-size: rem(65px);
  color: #ffffff;
  line-height: 1; }

.arrow {
  background-image: url(../img/icons/arrow-scroll.png);
  background-repeat: no-repeat;
  width: rem(45px);
  height: rem(25px);
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 95%; }
